<div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
      <h1 class="logo__text">Danila Catalin-Gabriel</h1>
    </div>
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">Pills Reminder</h1>
      <h2 class="heading--secondary">O aplicatie web pentru gestionarea medicamentelor tale</h2>
    </div>
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">
    <form action="#">
      <div class="form-group">
        <label for="Nume">Nume</label>
        <input [(ngModel)]="Nume" class="form-control" type="text" name="Nume" id="nume" placeholder="Popescu" required />
      </div>
      <div class="form-group">
        <label for="Prenume">Prenume</label>
        <input [(ngModel)]="Prenume" class="form-control" type="text" name="Prenume" id="Prenume" placeholder="Ion" required />
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input [(ngModel)]="Email" class="form-control" type="text" name="Email" id="Email" placeholder="popescu.ion@gmail.com" required />
      </div>
      <div class="form-group">
        <label for="Parola">Parola</label>
        <input [(ngModel)]="Parola" class="form-control" type="password" name="Parola" id="Parola" placeholder="********" required />
      </div>
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input routerLink="{{catreLogin}}" (click)="signUp()" class="btn btn--form" type="submit" value="Register" />
          </li>
          <li>
            <a class="signup__link" href="/login">Ai deja un cont?</a>
          </li>
        </ul>
      </div>
    </form>  
  </div>
</div>
