
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: arial;
  }
  
  .card-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 700px;
    margin: -480px 380px;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 14px;
  }
  
  .settings-button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .signup__form {
    padding: 2.5rem;
    background: #fafafa;
  }
  label {
    font-size: .85rem;
    text-transform: uppercase;
    color: #ccc;
  }
  .form-control {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    &:focus {border-color: #111;}
  }
  [type="text"] {color: #111;}
  [type="password"] {color: #111;}
  .btn--form {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #111;
    border-radius: remy(35px);
    &:focus,
    &:hover {background: lighten(#111, 13%);}
  }
